.spinner-container {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  margin-bottom: 20px;
}

.mat-mdc-progress-spinner.mat-primary {
  --mdc-circular-progress-active-indicator-color: #ffe81f;
}
